.form-container, .input-field {
  display: flex;
  flex-direction: column;
  padding: 1%;
  height: auto;
}

.form-const {
  max-width: 400px;
  line-height: 2;

  @include tablet {
    line-height: 1;
  }

  @include desktop {
    line-height: 1;
  }

  @include widescreen {
    line-height: 1;
  }

  p {
    height: 25px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
  }

  .type-switcher {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      height: 25px;
    }

    @include desktop {
      height: 25px;
    }

    @include widescreen {
      height: 25px;
    }

    label {
      font-size: 21px;
    }

    select {
      width: 240px;
      height: 25px;
      font-size: 16px;
      border: 2px solid #000000;
      background-color: #ffffff;
    }
  }
}

.form-float {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 250px;
  max-width: 400px;
  height: auto;
  background-color: rgb(182, 182, 182);
  border: 1px solid #FF000000;
  align-content: center;
  justify-content: center;

  p {
    margin: 0;
  }

  .input-unit {
    line-height: 1;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    margin-bottom: 2px;

    input {
      width: 150px;
      font-size: 21px;
      height: 20px;
      border: 1px solid #000000;

      @include tablet {
        width: 220px;
      }

      @include desktop {
        width: 220px;
      }

      @include widescreen {
        width: 220px;
      }
    }
  }
}

.input-field {

  .input-unit {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 21px;

    input {
      width: 220px;
      height: 20px;
      border: 2px solid #000000;
      display: inline-flex;
      flex-wrap: wrap;
      font-size: 21px;
    }
  }
}


.form-cd, .form-furniture, .form-book {
  width: 80%;
  padding: 0 10% 0 10%;
  display: flex;
  font-size: 21px;
  flex-direction: column;
}

.error {
  color: #ff0000;
  margin-top: 0;
}
