//Styles for Error page
.error-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5%;


  @include tablet{
    height: 100px;
  }

  @include desktop {
    height: 130px;
  }

  @include widescreen {
    height: 170px;
  }

  .error-image {
    height: auto;
    width: auto;
    text-align: center;

    img {
      height: 90px;

      @include tablet {
        height: 100px;
      }

      @include desktop {
        height: 130px;
      }

      @include widescreen {
        height: 170px;
      }
    }

  }

}
