//Styles for Main page

.main-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  margin-top: 10px;
  letter-spacing: 0.6px;

  @include desktop {
    margin-top: 5%;
  }

  @include widescreen {
  margin-top: 5%;
  }
}

hr {
  border-top: 3px solid rgb(0, 0, 0);
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
}
