<div class="form-book" style="display:none;">
    <p class="input-unit">
        <label class="form-label">Weight</label>
        <input class="form-input" name="weight">
    </p>
    <p style="margin-top: 20px">Please provide weight of the book in kg.</p>
</div>