<div class="form-cd" style="display:none;">
    <p class="input-unit">
        <label class="form-label">Size</label>
        <input class="form-input" name="size">
    </p>
    <p style="margin-top: 20px">Please provide size of DVD-disk in MB.</p>
</div>