<div class="form-furniture" style="display:none;">
    <p class="input-unit">
        <label class="form-label">Height</label>
        <input class="form-input" name="height">
    </p>
    <p class="input-unit">
        <label class="form-label">Width</label>
        <input class="form-input" name="width">
    </p>
    <p class="input-unit">
        <label class="form-label">Length</label>
        <input class="form-input" name="length">
    </p>
    <p style="margin-top: 20px">Please provide dimensions in HxWxL format. (cm)</p>
</div>