<?php
/** @see  Controllers\AddController */
?>
<form action="" method="POST">
    <nav>
        <div class="nav-title">
            <h1>Product List</h1>
        </div>
        <button class="btn" name="addProduct" type="submit">Save</button>
    </nav>
    <hr>
    <div class="form-container">
        <div class="form-const">
            <div class="input-field">
                <p class="input-unit">
                    <label class="form-label">SKU</label>
                    <input class="form-input" name="sku">
                </p>
                <p class="error"><?= !isset($errors['sku']) ? '' : '* ' . $errors['sku'] ?></p>
                <p class="input-unit">
                    <label class="form-label">Name</label>
                    <input class="form-input" name="name">
                </p>
                <p class="error"><?= !isset($errors['name']) ? '' : '* ' . $errors['name'] ?></p>
                <p class="input-unit">
                    <label class="form-label">Price</label>
                    <input class="form-input" name="price">
                </p>
                <p class="error"><?= !isset($errors['price']) ? '' : '* ' . $errors['price'] ?></p>
            </div>
            <p class="type-switcher">
                <label class="form-label">Type Switcher</label>
                <select id="switcher" name="type">
                    <option selected value="">Type Switcher</option>
                    <?php
                        /**
                         * searches /src/Views/Products directory for .phtml files and
                         * auto loads options according to the templates files
                         */
                        $product_views = array_diff(scandir(PRODUCT_VIEW_PATH), array('..', '.'));
                        foreach ($product_views as $product) :
                            $option = explode('.', $product);
                            $type = $option[0];
                    ?>
                    <option value="<?= $type; ?>"><?= ucfirst($type); ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
        </div>
        <p class="error">
            <?= (
                !isset($errors['height']) &&
                !isset($errors['length']) &&
                !isset($errors['width']) &&
                !isset($errors['size']) &&
                !isset($errors['weight']) &&
                !isset($errors['type'])) ? '' : '* ' . 'Some of the parameters are wrong or empty!'
            ?>
        </p>
        <div class="form-float">
            <?php
                /**
                 * Searches /Views/Products directory for .phtml files and
                 * auto loads product types view templates into the form
                 */
                foreach ( glob(PRODUCT_VIEW_PATH . '*.phtml') as $filename )
                {
                    include $filename;
                }
            ?>
        </div>
        <button class="btn add-back" type="submit" name="add-back"><a href="/main">Back to products</a></button>
    </div>
</form>
