<?php
/** @see Controllers\ErrorController */
?>
<div class="error-msg">
    <div class="error-image">
        <img src="<?= IMAGE_PATH . 'number.png'; ?>" alt="number_sign">
        <img src="<?= IMAGE_PATH . 'reload.png'; ?>" alt="reload_sign">
        <img src="<?= IMAGE_PATH . 'number.png'; ?>" alt="number_sign">
    </div>
    <h3>Page not found!</h3>
    <form action="" method="post">
        <button class="btn" type="submit" name='back'>Back</button>
    </form>
</div>
