<?php
/** @see  Controllers\MainController */
//foreach ($products as $item) {
//    debug($item->getPrice());
//}
?>
<nav>
    <div class="nav-title">
        <h1>Product List</h1>
    </div>
    <div class="nav-form">
        <select class="main-select" name="actions">
            <option value="0">Choose action</option>
            <option value="1">Add Product</option>
            <option value="2">Mass Delete Action</option>
        </select>
        <button id="apply" class="btn" name="indexApply">Apply</button>
    </div>
</nav>
<hr>
<form class="main-form" action="" method='post'>
    <?php
        if (!$products):
            echo "No products available! Please add new products.";
        else:
            foreach($products as $unit):
    ?>
        <div class="product-unit">
            <div class="check">
                <input type='checkbox' name='check[<?= $unit->getId(); ?>]' value='<?= $unit->getId(); ?>'>
            </div>
            <div class="product-unit-body">
                    <p class="item"><?= $unit->getSku(); ?></p>
                    <p class="item"><?= $unit->getName(); ?></p>
                    <p class="item"><?= $unit->getFormattedPrice(); ?></p>
                    <p class="item"><?= $unit->getFormattedValue(); ?></p>
            </div>
        </div>
    <?php
            endforeach;
        endif;
    ?>
</form>