html {
  margin: 0;
}

body {
  margin: 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 2;
  min-height: 100vh;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

.wrapper {
  margin-top: 2%;
  padding: 0 1% 0 1%;
  flex: 1;
}
