// Media queries breakpoints

$breakpoint-mobile: 479px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1120px;

// Media queries

// from 479 to 768
@mixin tablet {
  @media only screen
  and (min-width: $breakpoint-mobile)
  and (max-width: $breakpoint-tablet) {
    @content;
  }
}

//from 768 to 1100
@mixin desktop {
  @media only screen
  and (min-width: $breakpoint-tablet)
  and (max-width: $breakpoint-desktop) {
    @content;

  }
}

//from 1100 to unlim
@mixin widescreen {
  @media only screen
  and (min-width: $breakpoint-desktop) {
    @content;
  }
}
