/* == Footer == */

footer {
  text-align: center;
  margin: 50px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  letter-spacing: 2px;
}