.btn {
  font-family: 'Source Sans Pro', sans-serif;
  width: 150px;
  max-height: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  align-self: center;
  letter-spacing: 1.6px;
  cursor: pointer;
  box-shadow: 4px 4px 0 rgb(26, 26, 26);
}

.add-back {
  margin-top: 15px;

  @include tablet {
    align-self: flex-start;
  }

  @include desktop {
    align-self: flex-start;
  }

  @include widescreen {
    align-self: flex-end;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
}



