nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: auto;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }

  @include widescreen {
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }

  .nav-form {
    width: 100%;
    align-self: center;

    @include tablet {
      height: 35px;
      width: 400px;
    }

    @include desktop {
      height: 35px;
      width: 400px;
    }

    @include widescreen {
      height: 35px;
      width: 400px;
    }
  }

  select {
    width: 100%;
    margin: 0 10px 5px 0;
    border: 2px solid rgb(0, 0, 0);

    @include tablet {
      width: 200px;
    }

    @include desktop {
      width: 200px;
    }

    @include widescreen {
      width: 200px;
    }
  }

  .nav-title {
    height: 50px;
    text-align: center;

    h1 {
      width: 150px;
      margin: 0 0 0 0;
    }
  }
}



