.product-unit {
  margin: 0 0 1% 0;
  width: 100%;
  font-size: 16px;
  height: 240px;
  color: black;
  border: 3px solid rgb(24, 24, 24);

  @include desktop {
    margin: 0 1% 1% 1%;
    width: (90% / 3);

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  @include widescreen {
    margin: 0 1% 1% 1%;
    width: (90% / 4);

    &:nth-child(4n+4) {
      margin-right: 0;
    }

    &:nth-child(3n+3) {
      margin-right: 1%;
    }
  }

  .product-unit-body {
    text-align: center;
    margin-top: -16px;

  }

  .check input {
    width: 20px;
    height: 20px;
    margin: 10px 0 0 10px;
  }
}

