<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<?= CSS_PATH; ?>" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="<?= SCRIPT_PATH; ?>" type="application/javascript" defer></script>
    <title>Scandiweb test 2020</title>
</head>
<body>
    <div class="wrapper">
        <?php include PAGE_VIEW_PATH . $content_view; ?>
    </div>
    <footer>
        <p>2020 Riga</p>
    </footer>
</body>
</html>